/* Global CSS Variables */
:root {
	--swiper-pagination-bottom: 0;

	--main-bg-color: #fff;
	--secondary-bg-color: #f5f5f5;
	--border-color: #d3d3d3;
	--text-color: #1e1e1e;
	--text-paragraph: rgb(85, 85, 85);
	--text-anchor: rgb(30, 30, 30);
	--text-anchor-hover: rgb(128, 128, 128);
	--btn-border-color: rgb(53, 53, 53);
	--btn-color-hover: rgb(255, 255, 255);
	--btn-bg-color-hover: rgb(53, 53, 53);
	--swiper-pagination-bullet: #171717;
	--swiper-pagination-bullet-active: rgb(30, 30, 30);
	--backTop-button-bg: #0000000a;

	.dark {
		--main-bg-color: #1e1e1e;
		--secondary-bg-color: #252525;
		--border-color: #404040;
		--text-color: #f5f5f5;
		--text-paragraph: rgb(210, 210, 210);
		--text-anchor: rgb(245, 245, 245);
		--text-anchor-hover: rgb(175, 175, 175);
		--btn-border-color: rgb(219, 219, 219);
		--btn-color-hover: rgb(30, 30, 30);
		--btn-bg-color-hover: rgb(219, 219, 219);
		--swiper-pagination-bullet: #f0f0f0;
		--swiper-pagination-bullet-active: rgb(229, 229, 229);
		--backTop-button-bg: #ffffff17;
	}
}
