---
import OptimizedImage from './OptimizedImage.astro'
import arrowIcon from '../assets/arrow.png'
---

<button id="backToTop">
	<OptimizedImage src={arrowIcon} alt="Arrow icon" class="icon" loading="lazy" decoding="async" />
</button>
